<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="Contact.js"></script> -->
    <!-- <script src="../index.js"></script> -->
    <link rel="stylesheet" href="html.css">
    
</head>
<body>
    <!-- <nonscript>You need to enble js</nonscript> -->
    <header id="header">
        <h2 id="header-title">Abhishek</h2>
        <p id="tagline">Madhav Institute of Technology ans science</p>
    </header> 
    <div id="content">
        <h4>Courses</h4>
    <ul id="items">
        <li class="list-p">Graphic</li>
        <li class="list-p">Animation</li>
        <li class="list-p">Web</li>
        <li class="list-p">Java</li>
        <li class="list-p">Jera software</li>
        <li class="list-p">full stack</li>
        <li class="list-p">object</li>
        <li class="list-p">class oriented</li>
    </ul>

    <form>
        <input type="text">
        <input type="submit">
    </form>
    </div>
    <script src="html.js"></script>

    </div>
</body>

</html>